@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff) format("woff"),
    url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-cl: #555555;
  --title-cl: #303030;
  --accent-cl: #ff6c00;
  --alt-text-cl: #9da4bd;
  --alt-title-cl: #ffffff;

  --dark-bg: #191c26;
  --second-bg: #f7f7f7;

  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.list {
  list-style: none;
}

.address {
  font-style: inherit;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-cl);
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  color: var(--alt-title-cl);
  background-color: var(--accent-cl);
}

.title {
  font-family: var(--title-font);
  letter-spacing: 0.05em;
  color: #303030;
}

/* .white-space {
  white-space: nowrap;
} */

.page-title {
  font-size: 72px;
  line-height: 1.18;
}

.section-title {
  font-size: 42px;
  line-height: 1.17;
}

.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-cl);
}

.team-item {
  text-align: center;
}

.team-item-name {
  font-weight: 400;
  line-height: 1.39;
  color: var(--title-cl);
}

.team-item-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-cl);
}

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--alt-text-cl);
}

.dark-bg .title,
.dark-bg .btn {
  color: var(--alt-title-cl);
}

.dark-bg .title-label {
  color: var(--alt-text-cl);
}
