.address {
  font-style: inherit;
  margin-bottom: 70px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link {
  display: flex;
  align-items: center;
}

.address__icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  stroke: currentColor;
}
