.address {
  font-style: inherit;
  margin-bottom: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link {
  display: flex;
  align-items: center;
}

.address__icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  stroke: currentColor;
}
