.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.6);
  overflow: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  min-height: 400px;
  padding: 40px 30px;
  background-color: #fff;
}

.modal__title {
  font-weight: 700;
  font-size: 35px;
  color: var(--title-cl);
}

.modal__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
