.socials {
  display: flex;
  align-items: center;
}

.socials--rotate {
  transform: rotate(-90deg) translateX(50%);
}

.socials__item {
  margin-left: 40px;
}

.socials__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-cl);
}
