@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff) format("woff"),
    url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
