:root {
  --main-text-cl: #555555;
  --title-cl: #303030;
  --accent-cl: #ff6c00;
  --alt-text-cl: #9da4bd;
  --alt-title-cl: #ffffff;

  --dark-bg: #191c26;
  --second-bg: #f7f7f7;

  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
