.benefits .content-box {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 6 * 4);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
  &:nth-child(2n) {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
}

.benefits .flexbox {
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 6 * 4);
  }
}

.benefits__item {
  flex-basis: calc((100% - 30px * 2) / 2);
  padding: 20px 24px;
  margin-top: 30px;
  margin-left: 30px;
  background: var(--second-bg);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-cl);
}

.benefits__item:nth-child(odd) {
  transform: translateY(-30px);
}

.benefits__number {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.benefits__number::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  vertical-align: top;
  color: var(--accent-cl);
}
