.contacts {
  background-image: url(../images/contacts/bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contacts-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    justify-content: space-between;
  }
}

.work-time {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
