.contacts {
  padding-left: 100px;
  padding-right: 100px;
  background-image: url(../images/contacts/bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
