.hero-header__logo {
  margin-right: 70px;
}

.hero-header__nav {
  margin-right: auto;
}

.hero-header .container {
  position: relative;
  background-image: url(../images/hero/img1.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

.hero-header__content {
  width: calc(100% / 12 * 5);
  padding-top: 150px;
  padding-bottom: 206px;
  margin-left: 200px;
}

.hero-header__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 115px;
  height: 100%;
  padding-bottom: 40px;
  background-color: #fff;
}
